{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "anzuelo": "Collide",
    "paredfiltro": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "anzuelo",
      "b": "paredfiltro",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "anzuelo",
      "r": "Trigger"
    }
  ],
  "__guid": "42097bbb-d557-4086-8963-9192a8df7fea",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}